server:
  port: 8080

spring:
  application:
    name: product
  profiles:
    active: local
  config:
    import:
      - optional:configserver:http://54.180.92.188:8888/
  datasource:
      url: jdbc:h2:mem:testdb
  h2:
    console:
      enabled: true
      path: /h2-console
  cloud:
    config:
      label: main
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: info

